.theme-areia {
  --bg: #e9dec9;
  --text: #5f3228;
  --accent: #764439;
  --card-bg: #e9dec9;
  --task-card-bg: #e0d7c7;}

.theme-azul {
  --bg: #28374a;
  --text: #e9dec9;
  --accent: #8faadc;
  --card-bg: #2f4055;
  --task-card-bg: #3a4d66;}

.theme-terra {
  --bg: #754437;
  --text: #e9dec9;
  --accent: #d8a48f;
  --card-bg: #7f4b3d;
  --task-card-bg: #8c5647;
}
.theme-verde {
  --bg: #6b6751;
  --text: #e9dec9;
  --accent: #b7c4a3;
  --card-bg: #75715a;
  --task-card-bg: #807b63;
}

.theme-glaciar {
  --bg: #728394;
  --text: #eef3f7;
  --accent: #a6b7c8;
  --card-bg: #7f90a1;
  --task-card-bg: #8c9dad;
}

.theme-oscuro {
  --bg: #162127;
  --text: #e6eef3;
  --accent: #7fa6b8;
    --card-bg: #1c2a31;
  --task-card-bg: #23343c;
}