.theme-areia {
  --bg: #e9dec9;
  --text: #5f3228;
  --accent: #764439;
  --card-bg: #e9dec9;
  --task-card-bg: #e0d7c7;
  --shadow-light: rgba(255, 255, 255, 0.7);
  --shadow-dark: rgba(0, 0, 0, 0.15);
}

.theme-azul {
  --bg: #28374a;
  --text: #e9dec9;
  --accent: #8faadc;
  --card-bg: #2f4055;
  --task-card-bg: #3a4d66;
  --shadow-light: rgba(255, 255, 255, 0.05);
  --shadow-dark: rgba(0, 0, 0, 0.4);
}

.theme-terra {
  --bg: #754437;
  --text: #e9dec9;
  --accent: #d8a48f;
  --card-bg: #7f4b3d;
  --task-card-bg: #8c5647;
  --shadow-light: rgba(255, 255, 255, 0.05);
  --shadow-dark: rgba(0, 0, 0, 0.4);
}
.theme-verde {
  --bg: #6b6751;
  --text: #e9dec9;
  --accent: #a7bb89;
  --card-bg: #75715a;
  --task-card-bg: #807b63;
  --shadow-light: rgba(255, 255, 255, 0.20);
  --shadow-dark: rgba(0, 0, 0, 0.3);
}

.theme-glaciar {
  --bg: #728394;
  --text: #eef3f7;
  --accent: #6f889e;
  --card-bg: #7f90a1;
  --task-card-bg: #8c9dad;
  --shadow-light: rgba(255, 255, 255, 0.20);
  --shadow-dark: rgba(0, 0, 0, 0.3);
}

.theme-oscuro {
  --bg: #162127;
  --text: #e6eef3;
  --accent: #a4c3d1;
  --card-bg: #1c2a31;
  --task-card-bg: #23343c;
  --shadow-light: rgba(255, 255, 255, 0.05);
  --shadow-dark: rgba(0, 0, 0, 0.6);
}
