/* colors */
$bg: #e9dec9;
$text: #5f3228;
$accent: #764439;
$card-bg: #e9dec9;
$task-card-bg:#e0d7c7;

/* shadows */
$shadow-light: rgba(235, 235, 235, 0.575);
$shadow-dark: rgba(13,39,80,0.12);

$shadow-outset: 
  -10px -10px 18px $shadow-light,
   10px  10px 18px $shadow-dark;

$shadow-inset:
  inset -10px -10px 18px $shadow-light,
  inset  10px  10px 18px $shadow-dark;

/* font */
$font: 'Lato', sans-serif;
$clock-font: 'Inconsolata', monospace;

/* radii / gaps */
$radius: 16px;
$gap: 12px;