/* colors */
$bg: #e9dec9;
$text: #5f3228;
$accent: #764439;
$card-bg: #e9dec9;
$task-card-bg: #e0d7c7;

/* shadows */
$shadow-outset:
  -6px -6px 12px var(--shadow-light),
  6px 6px 12px var(--shadow-dark);

$shadow-inset:
  inset -6px -6px 12px var(--shadow-light),
  inset 6px 6px 12px (--shadow-dark);

/* font */
$font: "Lato", sans-serif;
$clock-font: "Inconsolata", monospace;

/* radii / gaps */
$radius: 16px;
$gap: 12px;
