@import "../../styles/_variables";

.overlay {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.25);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1000;
}

.modal {
  width: 320px;
  max-width: 90%;

  padding: 20px;
  border-radius: 20px;

  background: var(--bg);
  box-shadow: $shadow-outset;

  display: flex;
  flex-direction: column;
  gap: 12px;

  animation: fadeIn 0.2s ease;
}

.modal h3 {
  margin: 0;
  font-size: 16px;
  color: var(--text);
}

.modal form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal input,
.modal textarea {
  width: 100%;

  padding: 8px 10px;
  border-radius: 12px;

  box-shadow: $shadow-outset;
  border: none;

  outline: none;

  font-size: 14px;
}

.modal textarea {
  resize: none;
  min-height: 80px;
}

.modal button {
  margin-top: 8px;

  padding: 10px;
  border-radius: 12px;

  background: var(--bg);
  border: none;

  box-shadow: $shadow-outset;

  transition:
    transform 0.12s ease,
    box-shadow 0.12s ease;
}

.modal button:hover {
  background-color: var(--task-card-bg);
}

.modal button:active {
  transform: scale(0.95);

  box-shadow:
    inset 3px 3px 6px var(--shadow-dark),
    inset -3px -3px 6px var(--shadow-light);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
