@import "../../styles/variables";

.meta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;

  padding: 16px 8px;

   transform: translateY(35px);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.logo img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.metaBottom {
  display: flex;
  justify-content: flex-end;
}

.settingsBtn {
  width: 50px;
  height: 50px;

  border-radius: 50%;

  background: $bg;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: $shadow-outset;

  transition: 0.2s;
}

.settingsBtn:hover {
  background-color: $task-card-bg;
}

